/* ==========================================================================
 HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
 ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
 Author's custom styles
 ========================================================================== */
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: left;
  color: #666666;
}
h1 {
  overflow: visible;
  margin-left: 0%;
  font: 40px 'Lora', serif;
}
h2 {
  margin-left: 10%;
  font: 18px 'Lora', serif;
  line-height: 1.7;
}
a {
  text-decoration: none;
  color: #24C0EB;
}
.content {
  left: 20%;
  width: 60%;
  position: absolute;
}
