<section>

<h1>Who am I?</h1>

<div style="display:inline-block;">
	<img style="display:inline-block; width: 40%; border-radius: 50%;" src="krzysztof_siejkowski.jpg"/>
	<h6 style="display:inline-block; width: 40%; vertical-align: middle;">My name is Krzysztof. I'm an iOS developer and a cultural anthropologist living in Warsaw, Poland.</h6>
</div>

<h6>Do not hesitate to get in touch. I'm <a href="https://twitter.com/_siejkowski">@_siejkowski</a> on twitter and <a href="https://github.com/siejkowski">siejkowski</a> on github. You can also find me on <a href="https://www.linkedin.com/profile/view?id=87258500">linkedin</a> and <a href="http://www.meetup.com/members/82001142/">meetup</a>.</h6>

</section>
