<section>

<h1>Who am I?</h1>

<h6>My name is Krzysztof. I'm an iOS developer and a cultural anthropologist living in Warsaw, Poland. I work at <a href="https://www.polidea.com">Polidea</a>.</h6>

<h6>As an enthusiast of developer communities, I coorganize <a href="http://mobile-warsaw.pl">Mobile Warsaw</a> meetup. As a developer, I strive for the clients happiness and code cleanliness. As an cultural anthropologist, I strongly believe the focus must be put on the users and their needs. I value qualitative research over arbitrary vision.</h6>

<h6>I have <a href="http://culturalcoder.com">some thoughts on culture and programming</a> if you're interested. Please let me know what you think <a href="https://twitter.com/culturalcoder">@culturalcoder</a>.</h6> 

<h6>Do not hesitate to get in touch. I'm <a href="https://twitter.com/_siejkowski">@_siejkowski</a> on twitter and <a href="https://github.com/siejkowski">siejkowski</a> on github. You can also find me on <a href="https://www.linkedin.com/profile/view?id=87258500">linkedin</a> and <a href="http://www.meetup.com/members/82001142/">meetup</a>.</h6>

</section>
