<section>

<h1>Hi!</h1>

<h2>My name is Krzysztof. I'm an iOS developer and a cultural anthropologist currently living in Warsaw, Poland. I work at <a href="http://touk.pl/">TouK</a>.

<h2>As an enthusiast of developer communities, I coorganize <a href="http://mobile-warsaw.pl">Mobile Warsaw</a> and <a href="http://warszawa.jug.pl">Warsaw JUG</a> meetups. I also coorganized <a href="http://warsjawa.pl">Warsjawa 2014</a> conference.</h2>

<h2>As a developer, I strive for the users happiness and code cleanliness. I try to embrace Software Craftsmanship as the main metaphor for my work.</h2>

<h2>As an cultural anthropologist, I strongly believe the focus must be put on the user and their needs. I value qualitative research over arbitrary vision.</h2>

<h2>I have <a href="http://culturalcoder.com">some thoughts on programming</a> if you're interested. Please let me know what you think <a href="https://twitter.com/culturalcoder">@culturalcoder</a>!</h2> 

<h2>Do not hesitate to get in touch. I'm <a href="https://twitter.com/_siejkowski">@_siejkowski</a> on twitter and <a href="https://github.com/siejkowski">siejkowski</a> on github. You can also find me on <a href="https://www.linkedin.com/profile/view?id=87258500">linkedin</a> and <a href="http://www.meetup.com/members/82001142/">meetup</a>.</h2>

</section>
