<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Krzysztof Siejkowski" />
    <meta name="keywords" content="krzysztof, siejkowski, krzysztof siejkowski, github, contact, programmer, anthropologist, programista, antropolog" />
    <link href='http://fonts.googleapis.com/css?family=Averia+Serif+Libre:700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="css/style.css">

    <script type="text/javascript" language="javascript" src="http://remote.mailhash.com/remoteloader.php?key=b5b83826"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
      {{ content }}
  </body>
</html>